@using TicketSystem.Web.ViewModels.Tickets
@{
    ViewBag.Title = "All";
}

<div class="row">
    <div class="col-md-3 text-center">
        <h3>Title</h3>
    </div>
    <div class="col-md-3 text-center">
        <h3>Category</h3>
    </div>
    <div class="col-md-3 text-center">
        <h3>Author</h3>
    </div>
    <div class="col-md-3 text-center">
        <h3>Priority</h3>
    </div>
</div>
<br />

@(Html.Kendo()
.ListView<ListTicketViewModel>()
.TagName("div")
.HtmlAttributes(new { @class = "container" })
.Name("all-tickets")
.Pageable()
.ClientTemplateId("all-tickets-template")
.DataSource(dataSource =>
    {
        dataSource
            .ServerOperation(true)
            .PageSize(5)
            .Read(read => read.Action("ReadTickets", "Tickets"));
    }))

<script id="all-tickets-template" type="text/x-kendo-tmpl">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="/Tickets/Details/#=Id #">#= TicketTitle #</a>
        </div>
        <div class="col-md-3 text-center">
            #= CategoryName #
        </div>
        <div class="col-md-2 text-center">
            #= AuthorUserName #
        </div>
        <div class="col-md-2 text-center">
            #= Priority #
        </div>
    </div>
    <br />
</script>